<div class="login-container">
    <div class="login-left">
        <h2>Login! 👋</h2>
        <p>or Login with Email</p>
        <form>
            <div>
                <label for="username">Username</label>
                <input type="text" class="form-control" id="username" name="username" placeholder="yassine">
            </div>
            <div>
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="test@atheros.ai">
            </div>
            
            <div>
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" placeholder="******">
            </div>
            <div>
                <label for="confirm-password">Confirm Password</label>
                <input type="password" class="form-control" id="confirm-password" name="confirm-password" placeholder="******">
            </div>
            <button type="submit" class="btn btn-signin btn-submit">Sign In</button>
        </form>
        <p>Already have an account? <a href="/login">Sign In Now</a></p>
    </div>
    <div class="login-right">
        <div class="login-info">
            <img src="assets/task-logo.png" alt="logo example">
        </div>
    </div>
</div>
